@page "/Configuracoes"
@model eZionWeb.Configuracoes.Pages.IndexModel
@{
    ViewData["Title"] = "Configurações";
}

<div class="container">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="mb-0"><i class="bi bi-gear me-2"></i>Configurações</h2>
    </div>
    <p class="text-muted">Central de configuração do sistema.</p>
</div>